#intro{
	width: 100%;
	min-height: 560px;
	padding-top: 148px;
	padding-bottom: 150px;
	color: $color_white;
	background-image: url("../img/intro.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;

	.title,
	.button{
		font-family: $secondary_font;
	}

	.title{
		font-size: $intro_title_font_size;
	}

	.text{
		margin-top: 16px;
		font-size: $intro_text_font_size;
		font-weight: 300;
		letter-spacing: -2px;

		*{
			line-height: 1.2;
		}

		span{
			color: $main_color;
		}
	}

	.button{
		margin-top: 108px;
		
		a{
			padding: 17px 35px;
			background-color: $main_color;
			@include prefixed(transition, all ease-in-out $transition_duration);

			&:hover{
				color: $main_color;
				background-color: $color_white;
			}
		}
	}
}