$primary_font: "Open Sans", sans-serif;
$secondary_font: "Varela", sans-serif;
$default_font_size: 13px;
$main_color: #196fc0;
$color_white: #ffffff;
$color_black: #000000;
$color_grey: #eeeeee;
$transition_duration: 0.3s;
$default_border_color: #dddddd;
$logo_font_size: 26px;
$banner_name_font_size: 40px;
$banner_experience_font_size: 18px;
$banner_title_font_size: 30px;
$banner_text_font_size: 14px;
$section_title_font_size: 32px;
$section_subtitle_color: #666666;
$section_subtitle_font_size: 16px;
$welcome_name_font_size: 21px;
$welcome_icon_font_size: 22px;
$welcome_item_title_font_size: 16px;
$welcome_item_description_font_size: 12px;
$intro_title_font_size: 16px;
$intro_text_font_size: 36px;
$about_item_icon_font_size: 32px;
$about_item_title_font_size: 16px;
$about_link_color: #999999;
$about_link_font_size: 11px;
$skills_section_bg_color: #f6f6f6;
$skills_section_titles_font_size: 17px;
$skills_section_title_divider_color: #bbbbbb;
$skill_progressbar_color: #555555;
$fact_icon_font_size: 20px;
$fact_number_font_size: 28px;
$fact_title_font_size: 12px;
$services_slider_button_border_color: #cccccc;
$services_slider_button_font_size: 16px;
$service_slide_bg_color: #fbfbfb;
$service_slide_icon_font_size: 20px;
$service_slide_active_icon_font_size: 34px;
$service_slide_title_font_size: 14px;
$service_title_font_size: 28px;
$service_link_font_size: 11px;
$reviews_section_title_size: 28px;
$reviews_slider_button_font_size: 16px;
$review_font_size: 14px;
$review_career_font_size: 10px;
$member_avatar_bg_color: #cccccc;
$member_name_font_size: 15px;
$member_overlay_name_font_size: 16px;
$member_social_links_font_size: 14px;
$promo_title_font_size: 54px;
$promo_slogan_font_size: 30px;
$history_section_bg_color: #f6f6f6;
$history_section_title_font_size: 30px;
$history_section_intro_font_size: 14px;
$history_project_title_bg_color: #555555;
$history_project_heading_font_size: 16px;
$history_content_font_size: 12px;
$history_more_button_font_size: 11px;
$works_filter_sort_elements_color: #666666;
$works_filter_sort_elements_font_size: 11px;
$works_overlay_color: rgba(25, 111, 192, 0.8);
$works_button_color: #545454;
$works_button_font_size: 20px;
$works_title_font_size: 16px;
$works_subtitle_color: #bbbbbb;
$works_subtitle_font_size: 12px;
$works_banner_title_font_size: 36px;
$works_banner_text_font_size: 20px;
$clients_title_font_size: 30px;
$clients_text_color: #868686;
$tweet_icon_font_size: 30px;
$tweet_title_font_size: 14px;
$tweet_text_font_size: 15px;
$tweet_button_border_color: #f0f0f0;
$contact_form_title_font_size: 17px;
$contact_form_placeholder_color: #666666;
$contact_form_placeholder_font_size: 12px;
$contact_form_button_font_size: 14px;
$social_links_font_size: 22px;
$footer_color: #666666;
$footer_to_up_button_font_size: 22px;
$mobile_menu_font_size: 16px;